github "ReactiveX/RxSwift" "3.0.0-beta.1"
github "Quick/Quick"
github "Quick/Nimble"
#github "realm/realm-cocoa"
github "Swinject/Swinject" "2.0.0-beta.2"
github "Swinject/SwinjectStoryboard" "1.0.0-beta.2"

